{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Neo_EShop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel ="stylesheet">

</head>
<body>
    <div id="header">
        <a href="/" class="logo">Neo EShop</a>
    </div>
    <div id="subheader">
        <div class="cart">
            Your cart is Empty.
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>